<div>
    <h2 translate="couponkicksvcApp.merchant.home.title">Merchants</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="merchant.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="couponkicksvcApp.merchant.home.createLabel">
                        Create new Merchant
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'couponkicksvcApp.merchant.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="merchantId"><span translate="couponkicksvcApp.merchant.merchantId">Merchant Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tradingName"><span translate="couponkicksvcApp.merchant.tradingName">Trading Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="abn"><span translate="couponkicksvcApp.merchant.abn">Abn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contact"><span translate="couponkicksvcApp.merchant.contact">Contact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span translate="couponkicksvcApp.merchant.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modifiedDate"><span translate="couponkicksvcApp.merchant.modifiedDate">Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastLogonDate"><span translate="couponkicksvcApp.merchant.lastLogonDate">Last Logon Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="billingAddressId"><span translate="couponkicksvcApp.merchant.billingAddress">Billing Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shippingAddressId"><span translate="couponkicksvcApp.merchant.shippingAddress">Shipping Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="merchant in vm.merchants track by merchant.id">
                    <td><a ui-sref="merchant-detail({id:merchant.id})">{{merchant.id}}</a></td>
                    <td>{{merchant.merchantId}}</td>
                    <td>{{merchant.tradingName}}</td>
                    <td>{{merchant.abn}}</td>
                    <td>{{merchant.contact}}</td>
                    <td>{{merchant.createdDate | date:'medium'}}</td>
                    <td>{{merchant.modifiedDate | date:'medium'}}</td>
                    <td>{{merchant.lastLogonDate | date:'medium'}}</td>
                    <td>
                        <a ui-sref="address-detail({id:merchant.billingAddressId})">{{merchant.billingAddressId}}</a>
                    </td>
                    <td>
                        <a ui-sref="address-detail({id:merchant.shippingAddressId})">{{merchant.shippingAddressId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="merchant-detail({id:merchant.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="merchant.edit({id:merchant.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="merchant.delete({id:merchant.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
